<!DOCTYPE html>

<html lang="es" >
    <head>
          <title>Sitio de administración de Destinos</title>
          <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
          <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
          <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
          <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
          <meta name="robots" content="NONE,NOARCHIVE">
    </head>

    <body class=" dashboard"
          data-admin-utc-offset="-18000">

        <!-- Container -->
        <div id="container">
    
               <!-- Header -->
                  <div id="header">
                       <div id="branding">
        
                            <h1 id="site-name"><a href="">Administración de Destinos</a></h1>

                       </div>   
        
                       <div id="user-tools">
            
                            Bienvenido/a,
		            <strong>{{ user.first_name }}</strong>.
            
                            <a href="/">Ver el sitio</a> /
                            <a href="">Cambiar contraseña</a> /
                            <a href="">Terminar sesión</a>
                      </div>
        
                 </div>
              <!-- END Header -->
    
    <!-- Content -->
    <div id="content" class="colMS">
        
        <h1>Sitio administrativo</h1>
        
<div id="content-main">

        <div class="app-Destinos module">
        <table>
	   {% block content %}
               <caption>
                   <h2 class="section" title="Modelos en la aplicación Destinos">Destinos Turisticos</h2>
               </caption>
        
               <tr class="model-destination">
            
                   <th scope="row"><a href="">Destinos</a></th>

               </tr>
	       <tr>	
                   <td><a href="añadir" class="addlink">Añadir</a></td>
            
                   <td><a href="listar" class="addlink">listar</a></td>
               </tr>
	    {% endblock %}
        </table>
        </div>

</div>

        
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Acciones recientes</h2>
        <h3>Mis acciones</h3>
            
            <ul class="actionlist">
            
            <li class="changelink">
                
                    <a href="/admin/Destinos/destination/5/change/">Destination object (5)</a>
                
                <br>
                
                    <span class="mini quiet">Destination</span>
                
            </li>
            
            <li class="changelink">
                
		    <a href="">{{ request.user }}</a>
                
                <br>
                
                    <span class="mini quiet">Usuario</span>
                
            </li>
            
            <li class="addlink">
                
                    <a href="/admin/Destinos/destination/6/change/">Destination object (6)</a>
                
                <br>
                
                    <span class="mini quiet">Destination</span>
                
            </li>
            
            <li class="addlink">
                
                    <a href="/admin/Destinos/destination/5/change/">Destination object (5)</a>
                
                <br>
                
                    <span class="mini quiet">Destination</span>
                
            </li>
            
            <li class="addlink">
                
                    <a href="/admin/Destinos/destination/4/change/">Destination object (4)</a>
                
                <br>
                
                    <span class="mini quiet">Destination</span>
                
            </li>
            
            <li class="addlink">
                
                    <a href="/admin/Destinos/destination/3/change/">Destination object (3)</a>
                
                <br>
                
                    <span class="mini quiet">Destination</span>
                
            </li>
            
            <li class="addlink">
                
                    <a href="/admin/Destinos/destination/2/change/">Destination object (2)</a>
                
                <br>
                
                    <span class="mini quiet">Destination</span>
                
            </li>
            
            <li class="changelink">
                
                    <a href="/admin/Destinos/destination/1/change/">Destination object (1)</a>
                
                <br>
                
                    <span class="mini quiet">Destination</span>
                
            </li>
            
            <li class="addlink">
                
                    <a href="/admin/Destinos/destination/1/change/">Destination object (1)</a>
                
                <br>
                
                    <span class="mini quiet">Destination</span>
                
            </li>
            
            </ul>
            
    </div>
</div>

        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
