{% load static %}

<!DOCTYPE html>

<html lang="es" >
    <head>
          <title>Sitio de administración de Destinos</title>
          <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
          <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
          <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
          <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
          <meta name="robots" content="NONE,NOARCHIVE">
    </head>

    <body style="background-image:url({% static 'misImagenes/fondoA.jpg' %})" class=" dashboard"
          data-admin-utc-offset="-18000">

        <!-- Container -->
        <div id="container">
    
               <!-- Header -->
                  <div id="header">
                       <div id="branding">
        
                            <h1 id="site-name"><a href="">Administración de Destinos</a></h1>

                       </div>   
        
                       <div id="user-tools">
            
                            Bienvenido/a,
		            <strong>{{ user.first_name }}</strong>.
            
                            <a href="/">Volver a Home</a> /
                      </div>
        
                 </div>
              <!-- END Header -->
    
    <!-- Content -->
    <div id="content" class="colMS">
        
        <h1>Sitio administrativo</h1>
        
<div id="content-main">

        <div class="app-Destinos module">
        <table >
               <caption>
                   <h2 class="section" title="Modelos en la aplicación Destinos">Destinos Turisticos</h2>
               </caption>
        
               <tr class="model-destination">
            
                   <th scope="row"><a href="">Destinos</a></th>

               </tr>
	       <tr>	
                   <td><a href="añadir" >Añadir</a></td>
                   <td><a href="listar" >listar</a></td>
                   <td><a href="/" >Home</a></td>
               </tr>
	       <tr>
		{% block content %}

	    	{% endblock %}
	       </tr>
        </table>
        </div>

</div>

        

        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
