{% extends 'administration.html' %}
{% block content %}
		<table>
		    <tr>
			<form enctype="multipart/form-data" method='POST'>{% csrf_token %}
			      {{ form.as_p }}
                              <tr>
                                   <td><input type="submit" value='grabar' /></td>
                                   <td><p><a href="listar">listar</a></p></td>
                                   <td><p><a href="/administration/administrar">cancelar</a></p></td>
                    	      </tr>
			</form>
		    </tr>
		</table>

{% endblock %}
