{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login </title>
    <link rel="stylesheet" href="{% static 'misEstilos/master.css' %}">
  </head>
  <body style="background-image:url(static/misImagenes/fondoL.jpg)">

    <div class="login-box">
      <img src="static/misImagenes/avatar.png" class="avatar" alt="Avatar Image">
      <h1>Login</h1>
      <form action="login" method="post">{% csrf_token %}
        <label for="username" >Usuario</label>
        <input type="text" name="username"  placeholder="Ingrese Usuario">
        <label for="password">Password</label>
        <input type="password" name="password"  placeholder="Ingrese Contraseña">
        <input type="submit" value="Enviar">
        <a href="register">No tengo una cuenta?</a>
	<div>
          {% for message in messages %}
                <h3>{{message}}</h3>
          {% endfor %}
    </div>
      </form>
    </div>
  </body>
</html>
