{% extends 'administration.html' %}
{% block content %}
	<b>  destino </b><br /><br/>

	<p><i>{{ object.id }} - <b> {{ object.nombreCiudad}}</b></i></p>
	<p><strong>Imagen de la ciudad:</strong> {{ object.imagenCiudad }}</p>
	<p><strong>Descripcion de la ciudad:</strong> {{ object.descripcionCiudad }}</p>
	<p><strong> precio del Viaje:</strong>{{ object.precioTour }}</p>
	<p><strong> oferta:</strong>{{ object.ofertaTour }}</p><br />

	<table>
		<tr>
			<td><p><a href="borrar"> borrar</a> </p></td>
			<td><p><a href="editar"> editar</a> </p></td>
			<td><p><a href="../"> regresar</a> </p></td>
		</tr>
	</table>
{% endblock %}
