{% extends 'administration.html' %}
{% block content %}
	<table>
		<tr><i>{{ object.id }} - <b> {{ object.nombreCiudad}}</b></i></tr><br />
		<tr><strong>Imagen de la ciudad:</strong></tr><br />
		<tr><img src="{{ object.imagenCiudad.url }}" width="300px" height="200px" tlt=""></tr><br />
		<tr><strong>Descripcion de la ciudad:</strong>  {{ object.descripcionCiudad }}</tr><br />
		<tr><strong> precio del Viaje:</strong>  {{ object.precioTour }}</tr><br />
		<tr><strong> oferta:</strong>  {{ object.ofertaTour }}</tr><br />
		<tr>
			<td><p><a href="borrar"> borrar</a> </p></td>
			<td><p><a href="editar"> editar</a> </p></td>
			<td><p><a href="/administration/listar"> regresar</a> </p></td>
		</tr>
	</table>
{% endblock %}
